apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.accounts.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - port: 80
    targetPort: 8080
    name: {{ .Values.accounts.name }}
    appProtocol: http
  selector:
    app: {{ .Values.accounts.name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.accounts.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.accounts.name }}
      version: v1
  template:
    metadata:
      labels:
        app: {{ .Values.accounts.name }}
        version: v1
    spec:
      containers:
      - image: "{{ .Values.image.repository }}/{{ .Values.accounts.image }}:{{ .Values.accounts.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        name: {{ .Values.accounts.name }}
        args: ["start", "--optimized"]
        env:
        - name: KEYCLOAK_LOGLEVEL
          value: {{ .Values.accounts.logLevel }}
        - name: PROXY_ADDRESS_FORWARDING
          value: "true"
        - name: KC_PROXY_HEADERS
          value: "xforwarded"
        - name: KC_HTTP_ENABLED
          value: "true"
        - name: KC_DB_URL
          value: jdbc:postgresql://{{ .Values.database.address }}:{{ .Values.database.port }}/{{ .Values.database.name }}?currentSchema={{ .Values.database.schemaAccounts }}
        - name: KC_DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ .Values.database.secretName }}
              key: user
        - name: KC_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.database.secretName }}
              key: password
        - name: KC_DB_SCHEMA
          value: {{ .Values.database.schemaAccounts }}
        - name: KC_DB
          value: {{ .Values.database.vendor }}
        - name: KC_HOSTNAME
          value: {{ .Values.accounts.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}
        stdin: true
        tty: true
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Values.accounts.name }}
  namespace: {{ .Values.namespace }}
spec:
  parentRefs:
  - name: {{ .Values.ingress.namespace }}-gateway
    namespace: {{ .Values.ingress.namespace }}
    sectionName: https-wildcard
  hostnames:
  - "{{ .Values.accounts.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
  rules:
  - backendRefs:
    - name: {{ .Values.accounts.name }}
      port: 80
---
apiVersion: networking.istio.io/v1
kind: VirtualService
metadata:
  name: {{ .Values.accounts.name }}-internal-rewrite
  namespace: {{ .Values.namespace }}
spec:
  hosts:
    # This rule applies to calls made to the internal service name
    - "{{ .Values.accounts.name }}.{{ .Values.namespace }}.svc.cluster.local"
  http:
    - route:
        - destination:
            host: "{{ .Values.accounts.name }}.{{ .Values.namespace }}.svc.cluster.local"
            port:
              number: 80 # The HTTP port of the accounts service
      rewrite:
        # Rewrite the Host header to the public-facing one Keycloak expects
        authority: "{{ .Values.accounts.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"