apiVersion: gateway.networking.k8s.io/v1
kind: Gateway
metadata:
  name: {{ .Values.ingress.namespace }}-gateway
  namespace: {{ .Values.ingress.namespace }}
spec:
  gatewayClassName: istio
  listeners:
  - name: http-{{ .Values.domain | replace "." "-" }}
    hostname: "{{ .Values.domain }}.{{ .Values.tld }}"
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
  - name: http-{{ .Values.accounts.subdomain }}
    hostname: "{{ .Values.accounts.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
  - name: http-{{ .Values.api.subdomain }}
    hostname: "{{ .Values.api.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
  - name: http-{{ .Values.app.subdomain }}
    hostname: "{{ .Values.app.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
    port: 80
    protocol: HTTP
    allowedRoutes:
      namespaces:
        from: All
  - name: https-wildcard
    hostname: "*.{{ .Values.domain }}.{{ .Values.tld }}"
    port: 443
    protocol: HTTPS
    tls:
      mode: Terminate
      certificateRefs:
      - name: gateway-cert-tls
    allowedRoutes:
      namespaces:
        from: All
  - name: https-apex
    hostname: "{{ .Values.domain }}.{{ .Values.tld }}"
    port: 443
    protocol: HTTPS
    tls:
      mode: Terminate
      certificateRefs:
      - name: gateway-cert-tls
    allowedRoutes:
      namespaces:
        from: All
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: https-redirect
  namespace: {{ .Values.namespace }}
spec:
  parentRefs:
  - name: {{ .Values.ingress.namespace }}-gateway
    namespace: {{ .Values.ingress.namespace }}
  hostnames:
  - "{{ .Values.domain }}.{{ .Values.tld }}"
  - "{{ .Values.accounts.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
  - "{{ .Values.api.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
  - "{{ .Values.app.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
  rules:
  - filters:
    - type: RequestRedirect
      requestRedirect:
        scheme: https
        statusCode: 301