---
import { Icon } from "astro-icon";
---

<section id="features" class="bg-blue-700 text-white lg:p-24">
  <h2 class="text-3xl mb-8 text-center">
    Everything you need to start iterating on your web app idea right away
  </h2>
  <h4 class="text-white-500 mb-12 text-center">
    We all know dev experience is important. Check out some of the features you
    get with Appcket right out of the box.
  </h4>

  <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-6 xl:gap-x-12">
    <div class="flex">
      <div class="flex-initial w-1/4">
        <Icon name="logos:kubernetes" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">Kubernetes</p>
        <p class="text-white-500">
          Local development with k8s and an easy setup script to get you going
          fast.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-initial w-1/4">
        <Icon name="logos:postgresql" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">Postgres Database</p>
        <p class="text-white-500">
          Data is stored in a Postgres database running with Docker Compose.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-initial w-1/4">
        <Icon name="mdi:graphql" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">GraphQl API</p>
        <p class="text-white-500">
          API based on NestJS and the MikroORM, ready with example queries and
          mutations.
        </p>
      </div>
    </div>

    <div class="flex mb-12">
      <div class="flex-initial w-1/4">
        <Icon name="logos:react" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">React App</p>
        <p class="text-white-500">
          A fully working Typescript React client app that uses Vite, MUI and
          Tailwind. Integrates with the API using React Query.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-initial w-1/4">
        <Icon name="vscode-icons:file-type-astro" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">Marketing Site</p>
        <p class="text-white-500">
          Blazing fast static site based on Astro for marketing your app.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-initial w-1/4">
        <Icon name="mdi:certificate" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">https:// Everywhere</p>
        <p class="text-white-500">
          No fuss TLS certificates setup for you so you can work with local
          https the same as production.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-initial w-1/4">
        <Icon name="wpf:security-checked" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">Authn/Authz</p>
        <p class="text-white-500">
          User authentication and authorization powered by a dedicated Keycloak
          instance work out of the box on the server and client.
        </p>
      </div>
    </div>

    <div class="flex">
      <div class="flex-initial w-1/4">
        <Icon name="mdi:monitor-dashboard" />
      </div>
      <div class="flex-initial w-3/4 ml-4">
        <p class="font-bold mb-1">Example App</p>
        <p class="text-white-500">
          Appcket brings it all together with a full-featured team task app when
          you clone the <a href="https://github.com/appcket/appcket-org"
            >appcket-org</a
          > repo. See how to Create, Read, Update and Delete teams, projects and
          tasks.
        </p>
      </div>
    </div>
  </div>
</section>
