---
import "./Hero.css";
---

<section id="hero">
  <div class="text-center mb-36">
    <h1
      class="mt-28 mx-auto px-10 max-w-4xl font-display text-5xl font-bold tracking-tight text-slate-700 sm:text-7xl"
    >
      The <span class="text-gradient">starter kit</span> for your next great app
      idea.
    </h1>
    <p class="px-10 mt-10 w-1/2 mx-auto">
      Appcket is an open source, full stack starter kit for devs and teams. This
      is an example marketing site that you can customize.
    </p>
  </div>
</section>
