<section id="pricing" class="bg-gray-700 text-white lg:p-24 text-center">
  <h2 class="text-3xl mb-8 text-center">Appcket is free and open source!</h2>
  <h4>But here is a sample pricing section if you need it.</h4>
  <div class="flex flex-row mt-10">
    <div class="basis-1/3">
      <!--Pricing slot 1 -->
      <div
        class="w-72 mx-auto bg-white border-t-4 rounded border-orange-500 dark:bg-gray-800 shadow text-center p-4"
      >
        <div class="overflow-hidden">
          <div class="text-2xl font-medium mb-8 text-gray-800 dark:text-white">
            Basic
          </div>
          <div
            class="leading-loose text-sm font-light text-gray-700 dark:text-gray-50 mb-10"
          >
            <div class="font-bold">1 - 500 users</div>
            <div>Some features</div>
            <div>Free support</div>
          </div>
          <div class="font-bold text-2xl mb-2 text-gray-500 dark:text-gray-200">
            <span>$0/mo</span>
          </div>
          <div class="px-4 mt-8">
            <button
              type="button"
              class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            >
              Start
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="basis-1/3">
      <!--Pricing slot 2 -->
      <div
        class="w-72 mx-auto bg-white border-t-4 rounded border-yellow-500 dark:bg-gray-800 shadow text-center p-4"
      >
        <div class="overflow-hidden">
          <div class="text-2xl font-medium mb-8 text-gray-800 dark:text-white">
            Business
          </div>
          <div
            class="leading-loose text-sm font-light text-gray-700 dark:text-gray-50 mb-10"
          >
            <div class="font-bold">500-1000 users</div>
            <div>All features</div>
            <div>Priority support</div>
          </div>
          <div class="font-bold text-2xl mb-2 text-gray-500 dark:text-gray-200">
            <span>$0/mo</span>
          </div>
          <div class="px-4 mt-8">
            <button
              type="button"
              class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            >
              Start
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="basis-1/3">
      <!--Pricing slot 3 -->
      <div
        class="w-72 mx-auto bg-white border-t-4 rounded border-green-400 dark:bg-gray-800 shadow text-center p-4"
      >
        <div class="overflow-hidden">
          <div class="text-2xl font-medium mb-8 text-gray-800 dark:text-white">
            Enterprise
          </div>
          <div
            class="leading-loose text-sm font-light text-gray-700 dark:text-gray-50 mb-10"
          >
            <div class="font-bold">Over 1,000 users</div>
            <div>It's like the Space Pen of plans</div>
            <div>Extra Priority&trade; support</div>
          </div>
          <div class="font-bold text-2xl mb-2 text-gray-500 dark:text-gray-200">
            <span>$0/mo</span>
          </div>
          <div class="px-4 mt-8">
            <button
              type="button"
              class="py-2 px-4 bg-indigo-600 hover:bg-indigo-700 focus:ring-indigo-500 focus:ring-offset-indigo-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2 rounded-lg"
            >
              Start
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
