apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.accounts.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - port: 443
    targetPort: 8443
    name: {{ .Values.accounts.name }}
    appProtocol: https
  selector:
    app: {{ .Values.accounts.name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.accounts.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.accounts.name }}
      version: v1
  template:
    metadata:
      labels:
        app: {{ .Values.accounts.name }}
        version: v1
    spec:
      containers:
      - image: "{{ .Values.image.repository }}/{{ .Values.accounts.image }}:{{ .Values.accounts.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        name: {{ .Values.accounts.name }}
        env:
        - name: KEYCLOAK_LOGLEVEL
          value: {{ .Values.accounts.logLevel }}
        - name: PROXY_ADDRESS_FORWARDING
          value: "true"
        - name: KC_DB_URL
          value: jdbc:postgresql://{{ .Values.database.address }}:{{ .Values.database.port }}/{{ .Values.database.name }}?currentSchema={{ .Values.database.schemaAccounts }}
        - name: KC_DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: {{ .Values.database.secretName }}
              key: user
        - name: KC_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.database.secretName }}
              key: password
        - name: KC_DB_SCHEMA
          value: {{ .Values.database.schemaAccounts }}
        - name: KC_DB
          value: {{ .Values.database.vendor }}
        - name: KC_HOSTNAME
          value: {{ .Values.accounts.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}
        stdin: true
        tty: true
---
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: {{ .Values.accounts.name }}
  namespace: {{ .Values.namespace }}
spec:
  parentRefs:
  - name: {{ .Values.namespace }}-gateway
    namespace: {{ .Values.namespace }}
    sectionName: https-{{ .Values.accounts.subdomain }}
  hostnames:
  - "{{ .Values.accounts.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}"
  rules:
  - backendRefs:
    - name: {{ .Values.accounts.name }}
      port: 443