apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - port: 443
    targetPort: 3000
    appProtocol: https
    name: {{ .Values.app.name }}
  selector:
    app: {{ .Values.app.name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.app.name }}
      version: v1
  template:
    metadata:
      labels:
        app: {{ .Values.app.name }}
        version: v1
    spec:
      containers:
      - name: {{ .Values.app.name }}
        image: "{{ .Values.image.repository }}/{{ .Values.app.image }}:{{ .Values.app.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        {{- if eq .Values.env "local" }}
        command: ["/bin/bash"]
        {{- end }}
        env:
        - name: NODE_ENV
          {{- if eq .Values.env "local" }}
          value: development
          {{ else }}
          value: {{ .Values.env }}
          {{- end }}
        - name: PORT
          value: "3000"
        - name: WDS_SOCKET_PORT
          value: "0"
        - name: GENERATE_SOURCEMAP
          value: "false"
        - name: HTTPS
          value: "true"
        - name: SSL_CRT_FILE
          value: certs/tls.crt
        - name: SSL_KEY_FILE
          value: certs/tls.key
        stdin: true
        tty: true
        workingDir: /src
        {{- if eq .Values.env "local" }}
        volumeMounts:
          - mountPath: /src
            name: src-volume
            readOnly: false
        {{- end }}
      {{- if eq .Values.env "local" }}
      volumes:
      - hostPath:
          path: /host_mnt/home/ryan/dev/appcket-org/main/app
          type: DirectoryOrCreate
        name: src-volume
      {{- end }}
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ .Values.app.name }}
spec:
  hosts:
  - {{ .Values.app.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}
  gateways:
  - {{ .Values.namespace }}-gateway
  tls:
  - match:
    - port: 443
      sniHosts:
      - {{ .Values.app.subdomain }}.{{ .Values.domain }}.{{ .Values.tld }}
    route:
    - destination:
        host: {{ .Values.app.name }}.{{ .Values.namespace }}.svc.cluster.local
        port:
          number: 443