apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.marketing.name }}
  namespace: {{ .Values.namespace }}
spec:
  ports:
  - port: 443
    targetPort: 3000
    appProtocol: https
    name: {{ .Values.marketing.name }}
  selector:
    app: {{ .Values.marketing.name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.marketing.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.marketing.name }}
      version: v1
  template:
    metadata:
      labels:
        app: {{ .Values.marketing.name }}
        version: v1
    spec:
      containers:
      - name: {{ .Values.marketing.name }}
        image: "{{ .Values.image.repository }}/{{ .Values.marketing.image }}:{{ .Values.marketing.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        # uncomment the following 3 if-end lines (and need a change in the values-local.yaml file) if you want to develop the marketing site, otherwise it will use the nginx command from the Dockerfile to start the container
        {{- if eq .Values.env "local" }}
        command: ["/bin/sh"]
        {{- end }}
        env:
        - name: NODE_ENV
          {{- if eq .Values.env "local" }}
          value: development
          {{ else }}
          value: {{ .Values.env }}
          {{- end }}
        - name: PORT
          value: "3000"
        stdin: true
        tty: true
        workingDir: /src
        {{- if eq .Values.env "local" }}
        volumeMounts:
          - mountPath: /src
            name: src-volume
            readOnly: false
        {{- end }}
      {{- if eq .Values.env "local" }}
      volumes:
      - hostPath:
          path: {{ .Values.marketing.hostPath }}
          type: DirectoryOrCreate
        name: src-volume
      {{- end }}
---
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: {{ .Values.marketing.name }}
spec:
  hosts:
  - {{ .Values.domain }}.{{ .Values.tld }}
  gateways:
  - {{ .Values.namespace }}-gateway
  tls:
  - match:
    - port: 443
      sniHosts:
      - {{ .Values.domain }}.{{ .Values.tld }}
    route:
    - destination:
        host: {{ .Values.marketing.name }}.{{ .Values.namespace }}.svc.cluster.local
        port:
          number: 443