apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.marketing.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app: {{ .Values.marketing.name }}
    service: {{ .Values.marketing.name }}
spec:
  ports:
  - port: 80
    targetPort: 3000
    appProtocol: http
    name: {{ .Values.marketing.name }}
  selector:
    app: {{ .Values.marketing.name }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.marketing.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.marketing.name }}
      version: v1
  template:
    metadata:
      labels:
        app: {{ .Values.marketing.name }}
        version: v1
    spec:
      containers:
      - name: {{ .Values.marketing.name }}
        image: "{{ .Values.image.repository }}/{{ .Values.marketing.image }}:{{ .Values.marketing.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        # uncomment the following 3 if-end lines (and need a change in the values.yaml file) if you want to develop the marketing site, otherwise it will use the nginx command from the Dockerfile to start the container
        {{- if eq .Values.env "local" }}
        command: ["/bin/bash"]
        {{- end }}
        env:
        - name: NODE_ENV
          {{- if eq .Values.env "local" }}
          value: development
          {{ else }}
          value: {{ .Values.env }}
          {{- end }}
        - name: PORT
          value: "3000"
        stdin: true
        tty: true
        workingDir: /src
        {{- if eq .Values.env "local" }}
        volumeMounts:
          - mountPath: /src
            name: src-volume
            readOnly: false
        {{- end }}
      {{- if eq .Values.env "local" }}
      volumes:
      - hostPath:
          path: {{ .Values.marketing.hostPath }}
          type: DirectoryOrCreate
        name: src-volume
      {{- end }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .Values.marketing.name }}
  namespace: {{ .Values.namespace }}
spec:
  parentRefs:
  - name: {{ .Values.ingress.namespace }}-gateway
    namespace: {{ .Values.ingress.namespace }}
    sectionName: https-apex
  hostnames:
  - "{{ .Values.domain }}.{{ .Values.tld }}"
  rules:
  - backendRefs:
    - name: {{ .Values.marketing.name }}
      port: 80