*.retry
/environment/local/registry
/environment/development/registry
/environment/qa/registry
/environment/production/registry

*.tgz
**.crt
**.key
node_modules
# Keep environment variables out of version control
.env
.env*
