*.retry
/environment/local/registry
/environment/development/registry
/environment/qa/registry
/environment/production/registry

*.tgz
**.crt
**.key
node_modules
**.terraform
**.terraform.lock.hcl
**.tfplan
**.tfstate
**.tfstate.backup
# Keep environment variables out of version control
.env
.env*
