---
import { Icon } from "astro-icon"

import Config from "../site.config.cjs"
import ThemeSwitcher from "./ThemeSwitcher.astro"

import "./NavBar-SideBar.css"
---

<!-- Navbar -->
<div class="navbar lg:px-48 mt-4">
  <div class="flex-1 px-2 mx-2 space-x-4">
    <a href="/"><img src="logo.svg" width="160" /></a>
    <div class="flex-none hidden lg:block">
      <ul class="menu menu-horizontal p-4 overflow-y-auto w-80 bg-base-100">
        <!-- Navbar menu left content -->
        <li>
          <a href="#features"
            >{
              Config.navigation?.features
                ? Config.navigation.features
                : "Features"
            }
          </a>
        </li>
        <li>
          <a href="#pricing"
            >{
              Config.navigation?.pricing ? Config.navigation.pricing : "Pricing"
            }
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex-none hidden lg:block">
    <ul class="menu menu-horizontal p-4 overflow-y-auto w-80 bg-base-100">
      <!-- Navbar menu right content -->
      <li>
        <a href={import.meta.env.PUBLIC_APP_URL}
          >{Config.navigation?.signIn ? Config.navigation.signIn : "Sign in"}
        </a>
      </li>
      <li>
        <button class="btn-accent text-white"
          ><a href={import.meta.env.PUBLIC_DOCS_URL}
            >{
              Config.navigation?.getStarted
                ? Config.navigation.getStarted
                : "Get Started"
            }
          </a>
        </button>
      </li>
      <ThemeSwitcher />
    </ul>
  </div>
  <div class="flex-none lg:hidden">
    <label for="my-drawer-3" class="btn btn-sm btn-square btn-ghost">
      <Icon name="heroicons-outline:menu" />
    </label>
  </div>
</div>
