---
import Config from "../site.config.cjs"
import "./NavBar-SideBar.css"
---

<ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
  <li>
    <a href="#features"
      >{Config.navigation?.features ? Config.navigation.features : "Features"}
    </a>
  </li>
  <li>
    <a href="#pricing"
      >{Config.navigation?.pricing ? Config.navigation.pricing : "Pricing"}
    </a>
  </li>
  <div class="divider"></div>
  <li>
    <a href={import.meta.env.PUBLIC_APP_URL}
      >{Config.navigation?.signIn ? Config.navigation.signIn : "Sign in"}
    </a>
  </li>
  <li>
    <button class="btn-primary"
      ><a href={import.meta.env.PUBLIC_DOCS_URL}
        >{
          Config.navigation?.getStarted
            ? Config.navigation.getStarted
            : "Get Started"
        }
      </a>
    </button>
  </li>
</ul>
